# CODEOWNERS for .project metadata repository
# Changes to project metadata require review from the project Maintainers listed in:
# https://github.com/microcks/.github/blob/main/MAINTAINERS.md
* @lbroudoux @yada @SebastienDegodez
